attrs>=19.3.0
billiard>=3.6.3.0
blosc>=1.8.3
cloudpickle>=1.5.0
cryptography>=2.8
dask>=2.16.0
dask-jobqueue>=0.7.0
distributed>=2.16.0
gitpython>=3.1.1
jupyter>=1.0.0
numpy>=1.17.3
pandas>=0.25.2
pip>=25.3
py3Dmol>=0.8.0
pyrosetta-installer>=0.1.2
python-xz>=0.4.0
scipy>=1.4.1
traitlets>=4.3.3
