name: PyRosetta

on:
  push:
    branches: ['*']
    tags: ['*']
  pull_request:
    branches: ['*']
  schedule:
    # Run Every Monday 4 AM UTC
    - cron: '0 4 * * 1'

env:
  CARGO_TERM_COLOR: always

jobs:

  # ============================================================
  # PIXI JOB
  # ============================================================
  pixi:
    name: Pixi
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]
        # TODO: [3.10, 3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Pixi
        run: |
          curl -fsSL https://pixi.sh/install.sh | bash
          echo "$HOME/.pixi/bin" >> $GITHUB_PATH

      - name: Verify Pixi
        run: |
          export PATH="$HOME/.pixi/bin:$PATH"
          pixi --version

      # - name: Set up Pixi global channels
      #   run: |
      #     mkdir -p $HOME/.pixi
      #     cat >> $HOME/.pixi/config.toml <<EOF
      #     [channels]
      #     default = ["https://conda.rosettacommons.org", "conda-forge"]
      #     EOF

      - name: Run tests (pixi)
        shell: bash
        run: |
          export PATH="$HOME/.pixi/bin:$PATH"
          # Add Rosetta Commons conda channel for reproduce step
          pixi config append default-channels https://conda.rosettacommons.org --global
          pixi config get default-channels --global
          which python
          python --version
          python -u -m unittest pyrosetta.tests.test_env_reproducibility.TestEnvironmentReproducibility.test_recreate_environment_pixi -v


  # ============================================================
  # UV JOB
  # ============================================================
  uv:
    name: Uv
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]
        # TODO: [3.10, 3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.local/bin" >> $GITHUB_PATH
          uv --version

      - name: Run tests (uv)
        shell: bash
        run: |
          which python
          python --version
          python -u -m unittest pyrosetta.tests.test_env_reproducibility.TestEnvironmentReproducibility.test_recreate_environment_uv -v


  # ============================================================
  # CONDA JOB
  # ============================================================
  conda:
    name: Conda
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]
        # TODO: [3.10, 3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          activate-environment: false
          use-mamba: false
          channel-priority: strict

      - name: Run tests (conda)
        shell: bash
        run: |
          which python
          python --version
          python -u -m unittest pyrosetta.tests.test_env_reproducibility.TestEnvironmentReproducibility.test_recreate_environment_conda -v


  # ============================================================
  # MAMBA JOB
  # ============================================================
  mamba:
    name: Mamba
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.13]
        # TODO: [3.10, 3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Conda with Mamba
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.python-version }}
          auto-update-conda: true
          activate-environment: false
          use-mamba: true
          channel-priority: strict

      - name: Check Mamba
        shell: bash -l {0}
        run: |
          which mamba
          mamba --version

      - name: Run tests (mamba)
        shell: bash -l {0}
        run: |
          which python
          python --version
          python -u -m unittest pyrosetta.tests.test_env_reproducibility.TestEnvironmentReproducibility.test_recreate_environment_mamba -v
